<% if @programs.empty? %>
    <h2>There are no programs at the moment.</h2>
<% else %>
    <% @programs.each do |i| %>
        Name: <%= i.name %><br>
        Organizer: <%= i.organizer_id %>
        <br>
    <% end %>
<% end %>

